.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  gap: 2rem;

  background-color: var(--color-secondary);

  .logo {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    a {
      color: var(--color-white);
      text-transform: uppercase;

      &.active {
        color: var(--color-black);
      }
    }

  }
}
